{% extends "dashboard.html" %}
{% block page_content %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Club</th>
                            <th>Required ?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Regular classes</td>
                            <td><input type="checkbox" id="1" name="reg" value="regular"></td>
                        </tr>
                        <tr>
                            <td>Programming Club</td>
                            <td><input type="checkbox" id="2" name="prog" value="programming"></td>
                        </tr>
                        <tr>
                            <td>Dance Club</td>
                            <td><input type="checkbox" id="3" name="dance" value="dance"></td>
                        </tr>
                        <tr>
                            <td>FHC Club</td>
                            <td><input type="checkbox" id="4" name="fhc" value="fhc"></td>
                        </tr>
                        <tr>
                            <td>Art Club</td>
                            <td><input type="checkbox" id="5" name="art" value="art"></td>
                        </tr>
                        <tr>
                            <td>Debate Club</td>
                            <td><input type="checkbox" id="6" name="deb" value="debate"></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-success" id="done">Confirm</button>    
{% endblock %}
